__pycache__/

.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json

.vs/
.tmp/
.tmp*/
.tmp*
bin/
decomp/
buildstage/
dumps/
out/
output/
dependencies/zlib-1.2.3/**/*
dependencies/lua-lang/**/*
dependencies/boost_1_34_1/**/*
*.pdb
*.log
*.obj

AGENTS.md
skills/
