__pycache__/

.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json

# Temporary files of scripts
scripts/**/*.txt

.vs/
.tmp/
.tmp*/
.tmp*
tmp/
bin/
decomp/
buildstage/
dumps/
out/
output/
dependencies/zlib-1.2.3/**/*
dependencies/LuaPlus_Build1081/**/*
dependencies/boost_1_34_1/**/*
dependencies/wxWindows-2.4.2/**/*
dependencies/WildMagic3p8/**/*
dependencies/*.7z
*.pdb
*.log
*.obj

AGENTS.md
CLAUDE.md
mcp/
skills/

.claude/**/*
.github/copilot-instructions.md
.github/instructions/**/*

build_sdk.bat
